# 忽略所有的 .log 文件
*.log

# 忽略 node_modules 目录
node_modules/
**/.nuxt/**
**/nuxt
**/output/
**/dist/
**/build/
**/public/
**/logs/
**/cache/
**/temp/
**/temp/**
**/temp/*
**/temp/*/**
**/node_modules/
# 忽略所有的 .env 文件
*.env